:root {
    --text-link: #d23669;

    /* light */
    --c-light-background: #fff;
    --c-light-color: #333;
    --c-light-checkbox: #fce100;

    /* dark */
    --c-dark-background: #333;;
    --c-dark-color: #f3f3f3;
    --c-dark-checkbox: #757575;
}

body.dark {
    --c-background: var(--c-dark-background);
    --c-color: var(--c-dark-color);
    --c-checkbox: var(--c-dark-checkbox);
}

body.light {
    --c-background: var(--c-light-background);
    --c-color: var(--c-light-color);
    --c-checkbox: var(--c-light-checkbox);
}

body {
    background: var(--c-background);
    color: var(--c-color);
    transition: all 0.4s;
}

.theme-container {
    position: fixed;
    top: 20px;
    right: 20px;
}

.switch {
    display: inline-block;
    width: 50px;
    height: 24px;
    position: relative;
}

.switch .theme-switcher {
    width: 0;
    height: 0;
}

.switch .slider {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--c-checkbox);
    transition: all 0.4s;
}

.switch .slider::before {
    position: absolute;
    content: "🌞";
    left: 0;
    transition: all 0.4s;
}

.theme-switcher:checked + .slider::before {
    content: "🌑";
    left: 100%;
    transform: translateX(-100%);
}

.slider.round {
    border-radius: 34px;
}

/*my style*/
.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0px auto;
    width: 800px;
    padding: 20px;
    border: 1px solid;
    border-radius: 50px;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header svg {
    width: 56px !important;
    height: 56px !important;
}

header a {
    margin-left: 10px;
    color: var(--text-link);
}

main h3 {
    color: var(--text-link);
}